.slick-next {
    right: 10px !important;
}

.slick-prev {
    left: -30px !important;
    position: relative;
    z-index: 1;
}

.active_Film {
    @apply text-gray-500 bg-gray-600
}

.none_active_Film {
    @apply text-gray-800 bg-gray-400
}